@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100,400,500,600,700,800,900&display=swap");

$desktop-lg: 1536px;
$desktop-md: 1440px;
$desktop-sm: 1240px;

$tablet-lg: 1024px;
$tablet-md: 992px;
$tablet-sm: 768px;

$mobile-lg: 576px;
$mobile-md: 475px;
$mobile-sm: 320px;

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.title-wrapper {
  margin: 60px 0 55px;
}

.root__title {
  margin: 0 0 11px;
  text-align: center;
  font-size: 55px;

  @media only screen and (max-width: $tablet-lg) {
    font-size: 45px;
  }

  @media only screen and (max-width: $tablet-md) {
    font-size: 40px;
  }

  @media only screen and (max-width: $tablet-sm) {
    font-size: 32px;
  }

  @media only screen and (max-width: $mobile-lg) {
    font-size: 26px;
  }

  @media only screen and (max-width: $mobile-md) {
    font-size: 22px;
  }

  &-crimson {
    color: crimson;
  }

  &-orange {
    color: orange;
  }
}

.root__heading {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.7;
  margin: 0;

  @media only screen and (max-width: $tablet-lg) {
    font-size: 17px;
  }

  @media only screen and (max-width: $tablet-md) {
    font-size: 16px;
  }

  @media only screen and (max-width: $tablet-sm) {
    font-size: 15px;
  }

  @media only screen and (max-width: $mobile-md) {
    font-size: 14px;
  }
}

.frame {
  max-width: 86%;
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid rgba(0, 0, 0, 0.5);
  padding: 16px;

  @media only screen and (max-width: $tablet-md) {
    max-width: 96%;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  margin: 0 0 12px;
  font-size: 28px;

  @media only screen and (max-width: $tablet-lg) {
    font-size: 24px;
  }

  @media only screen and (max-width: $tablet-md) {
    font-size: 20px;
  }

  @media only screen and (max-width: $tablet-sm) {
    font-size: 17px;
  }

  @media only screen and (max-width: $mobile-md) {
    font-size: 16px;
  }
}

.form__inner {
  width: 100%;
  display: flex;
  margin: 0 auto 15px;
  justify-content: center;
  gap: 8px;

  @media only screen and (max-width: $tablet-md) {
    flex-direction: column;
  }
}

.calculated {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;

  &-blue {
    color: rgb(50, 156, 237);
  }
}

select,
button {
  font-size: 26px;
  border-radius: 6px;
  padding: 4px 18px;

  @media only screen and (max-width: $tablet-lg) {
    font-size: 22px;
  }

  @media only screen and (max-width: $tablet-md) {
    font-size: 18px;
  }

  @media only screen and (max-width: $tablet-sm) {
    font-size: 16px;
  }

  @media only screen and (max-width: $mobile-md) {
    font-size: 14px;
  }
}

footer {
  display: flex;
  justify-content: center;
}

.link {
  color: #ff9900;
  text-align: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 7px;

  img {
    max-width: 25px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
